---
layout: default
bodyClass: "page-services"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        <h1 class="title">{{page.title}}</h1>
        {{ content }}
      </div>
    </div>
  </div>
</div>


<div class="container pt-6 pb-6">
  <div class="row">
    {% assign page_category = page.categories | first %}
    {% for article in site.articles reversed %}
    {% if article.categories contains page_category %}
    <div class="col-12 col-md-6 mb-3">
      <div class="article article-summary">
        <div class="article-content">
          <h2 class="article-title">
            <a href="{{ article.url | relative_url }}">
              {{ article.title | escape }}
            </a>
          </h2>
          <p>{{ article.excerpt | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>