---
layout: default
bodyClass: "page-references"
---

<div class="intro">
  <div class="container pb-3 pt-3 pt-md-3 pb-md-3">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8">
        {{ content }}
      </div>
    </div>
  </div>
</div>
<div class="container pt-1 pb-3 pt-md-3 pb-md-3">
  <div class="row">
    {% assign references = site.references | sort: "title" %}
    <ul class="reference-list" role="list">
      {% for reference in references %}
      <li>{% include reference-card.html reference=reference %}</li>
      {% endfor %}
    </ul>
  </div>
</div>