---
layout: default
bodyClass: "page-reference"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="reference service-single">
        {% if page.image_url %}
        <div class="reference-image"><img alt="" src="{{ page.image_url | relative_url }}"
            width="{{ page.image_width }}" height="{{ page.image_height }}" /></div>
        {% endif %}
        <h1 class="title">{{page.title}}</h1>
        <div class="content">
          {{content}}

          👉 <a href="{{page.home_url}}">Découvrir leur site web.</a>
        </div>
      </div>
    </div>
  </div>
</div>